<!DOCTYPE html>
	<html>
	
	<head>
	  <title>Todo List</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	</head>

	<body>
		<h1 id="TodoHeader"> to.do  </h1>
		<div class= "container">
			<%= yield %>
		</div>

	</body>

	<br>
	<br>
	<br>
	<div style="text-align: center;">
		<i class="fa fa-snapchat-ghost fa-3x" style="color:#FBE122;" aria-hidden="true"></i> 
		<i class="fa fa-instagram fa-3x" style="color:#BD9379;" aria-hidden="true"></i>
		<i class="fa fa-twitter fa-3x" style="color:#2880BF;"aria-hidden="true"></i>
		<i class="fa fa-facebook fa-3x" style="color:#489FDF;"aria-hidden="true"></i>
	</div>
</html>
